@charset "UTF-8";
/* * fonts and default styles reset */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter/Inter-VariableFont_slnt\,wght.woff2) format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Readex Pro";
  src: url(../fonts/Readex_Pro/ReadexPro-Regular.woff2) format("woff2"), url(../fonts/Readex_Pro/ReadexPro-VariableFont_wght.woff2) format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a[class] {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* * html and body */
html {
  font-size: 16px;
  /* 1rem = 16px */
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
}

/* * page */
.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1275px;
  padding: 0 10px;
  margin: 0 auto;
}

/* * header */
.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__inner-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__controls {
  display: flex;
  align-items: center;
}
.header__cart-icon {
  margin-left: 22px;
}
@media (min-width: 1024px) {
  .header__controls > .search-input_animated:hover {
    -webkit-animation: input-grows 0.8s ease-in;
            animation: input-grows 0.8s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .header__controls > .search-input_animated:focus {
    visibility: visible;
    width: 200px;
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 1000px) {
  .header__container {
    padding: 30px 15px;
  }
  .header__logo {
    order: 2;
  }
  .header__menu {
    order: 1;
  }
  .header__controls {
    order: 3;
  }
  .header__controls > .search-wrapper {
    display: none;
  }
  .header__cart-icon {
    margin: 0;
  }
}

/* main */
.main__container {
  padding: 30px 10px;
}

.advertisement__search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .advertisement__search-block {
    display: none;
  }
}
@media (max-width: 375px) {
  .advertisement__search-block {
    margin: 0;
  }
}

/* * items tiles */
.items-tiles__content-block {
  margin-top: 13px;
}
.items-tiles__grid-container {
  width: 100%;
  max-width: 100%;
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  grid-template-areas: "first first  third fourth" "first first  third fourth" "second second third fourth";
}
.items-tiles__bar {
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  transition: transform 0.3s ease;
}
.items-tiles__bar_first {
  grid-area: first;
}
.items-tiles__bar_first .items-tiles__bar-content {
  align-self: flex-end;
}
.items-tiles__bar_second {
  grid-area: second;
}
.items-tiles__bar_third {
  grid-area: third;
}
.items-tiles__bar_fourth {
  grid-area: fourth;
}
.items-tiles__bar_first, .items-tiles__bar_second {
  padding: 0 42px;
}
@media (min-width: 1000px) {
  .items-tiles__bar_first:hover, .items-tiles__bar_fourth:hover {
    transform: translateY(-20px);
    transition: transform 0.5s ease;
  }
  .items-tiles__bar_second:hover, .items-tiles__bar_third:hover {
    transform: translateY(20px);
    transition: transform 0.5s ease;
  }
  .items-tiles__bar:hover img {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
}
@media (max-width: 1440px) {
  .items-tiles__bar_second .items-tiles__bar-image {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .items-tiles__bar_first, .items-tiles__bar_second {
    padding: 0 22px;
  }
}
.items-tiles__link-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}
.items-tiles__bar-flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: inherit;
  height: inherit;
}
.items-tiles__bar-flex-container_row {
  flex-flow: row nowrap;
}
.items-tiles__bar-flex-container_row-gap {
  row-gap: 42px;
}
.items-tiles__bar-flex-container_reverse {
  flex-direction: column-reverse;
}
.items-tiles__bar-flex-container_centered {
  align-items: center;
  justify-content: center;
}
.items-tiles__bar-image > img, .items-tiles__bar-image {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.items-tiles__bar-content {
  width: 100%;
  max-width: 233px;
}
.items-tiles__bar-content_align-center {
  text-align: center;
}
.items-tiles__bar-content_align-right {
  text-align: right;
}
.items-tiles__bar-title {
  color: #000000;
  line-height: 1.188rem;
  font-size: 0.938rem;
  font-weight: 400;
  margin: 0 0 5px 0;
}
.items-tiles__bar-text {
  color: #000000;
  line-height: 2.375rem;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .items-tiles__grid-container {
    grid-gap: 10px;
  }
  .items-tiles__bar-title {
    margin-bottom: 3px;
  }
  .items-tiles__bar-text {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
@media (max-width: 600px) {
  .items-tiles__grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "first first" "first first" "second second" "third fourth" "third fourth" "third fourth";
  }
  .items-tiles__bar_second .items-tiles__bar-image {
    scale: 1.5;
  }
}

/* * items cards block  */
.items-cards-block {
  margin-top: 72px;
}
.items-cards-block__swiper {
  margin: 30px 0;
}
@media (min-width: 1200px) {
  .items-cards-block__swiper > .swiper-button-prev, .items-cards-block__swiper > .swiper-button-next {
    display: none;
  }
}
.items-cards-block__card,
.items-cards-block .swiper-slide_small {
  position: relative;
  width: 100%;
  max-width: 310px;
  min-height: 396px;
  padding: 28px;
  background-color: #FFFFFF;
  border-radius: 16px;
  transition: all 0.3s ease-in;
}
@media (min-width: 1024px) {
  .items-cards-block__card:hover,
.items-cards-block .swiper-slide_small:hover {
    background-color: #F8F9FA;
    transition: all 0.5s ease-in;
  }
  .items-cards-block__card:hover .items-cards-block__card-add-to-cart-icon,
.items-cards-block .swiper-slide_small:hover .items-cards-block__card-add-to-cart-icon {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in;
  }
}
@media (min-width: 1440px) {
  .items-cards-block__card:not(:last-child),
.items-cards-block .swiper-slide_small:not(:last-child) {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .items-cards-block__card,
.items-cards-block .swiper-slide_small {
    background-color: #F8F9FA;
  }
}
.items-cards-block__card-link-wrapper {
  display: block;
}
.items-cards-block__card-image {
  margin-bottom: 33px;
}
.items-cards-block__card-title {
  color: #000000;
  line-height: 1.75rem;
  font-size: 1.375rem;
  font-weight: 400;
  font-family: "Readex Pro";
}
.items-cards-block__card-text {
  color: #000000;
  line-height: 1.063rem;
  font-size: 0.875rem;
}
.items-cards-block__card-price {
  color: #000000;
  line-height: 1.75rem;
  font-size: 1.125rem;
}
.items-cards-block__card-title, .items-cards-block__card-text {
  margin-bottom: 9px;
}
.items-cards-block__card-add-to-cart-icon {
  position: absolute;
  right: 20px;
  bottom: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
@media (max-width: 1200px) {
  .items-cards-block__swiper {
    padding: 0 20px;
  }
  .items-cards-block__card-add-to-cart-icon {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .items-cards-block__swiper {
    padding: 0 40px;
  }
  .items-cards-block .swiper-slide_small {
    max-width: 410px;
  }
}
@media (max-width: 320px) {
  .items-cards-block__swiper {
    padding: 0 15px;
  }
}

.items-сategories {
  margin-top: 47px;
}
.items-сategories__content-block {
  margin-bottom: 56px;
}
.items-сategories__cards {
  display: flex;
  -moz-column-gap: 28px;
       column-gap: 28px;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}
.items-сategories__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-basis: 413px;
  padding-top: 41px;
  border-radius: 16px;
  background-color: #F8F9FA;
  transition: transform 0.3s ease;
}
@media (min-width: 1024px) {
  .items-сategories__card:hover {
    transform: translateY(-20px);
    transition: transform 0.5s ease;
  }
}
.items-сategories__card-content {
  text-align: center;
  font-family: "Readex Pro";
  font-weight: 400;
}
.items-сategories__card-content > p {
  color: #000000;
  line-height: 1.063rem;
  font-size: 0.813rem;
}
.items-сategories__card-content > h2 {
  color: #000000;
  line-height: 2.188rem;
  font-size: 1.75rem;
}
.items-сategories__card-content, .items-сategories__card-button {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .items-сategories__cards {
    flex-direction: column;
    row-gap: 28px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .items-сategories__card {
    max-width: 413px;
    width: 100%;
  }
}

/* * promo block */
.promo-block {
  margin-top: 47px;
}
.promo-block__content-block {
  margin-bottom: 56px;
}
.promo-block__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
  grid-template-rows: 477px 70px;
  grid-auto-rows: 477px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.promo-block__content {
  padding-top: 14px;
}
.promo-block__text {
  color: #000000;
  line-height: 1.875rem;
  font-size: 1.5rem;
}
.promo-block__text:not(:last-child) {
  margin-bottom: 23px;
}
.promo-block__text:hover {
  cursor: default;
}
.promo-block__link {
  display: block;
  position: relative;
  color: #000000;
  line-height: 1.875rem;
  font-size: 1.5rem;
}
.promo-block__link::after {
  content: url(../images/icons/arrow_up.svg);
  position: absolute;
  left: calc(100% + 5px);
  top: 2px;
  transition: transform 0.3s ease;
}
@media (min-width: 1024px) {
  .promo-block__link {
    justify-self: center;
    grid-column: 1/3;
  }
  .promo-block__link:hover::after {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
  }
}
@media (max-width: 1024px) {
  .promo-block__grid-wrapper {
    grid-template-rows: 477px 300px 70px;
    justify-items: center;
    align-items: center;
  }
  .promo-block__text {
    text-align: center;
  }
  .promo-block__link {
    grid-column: 1/2;
  }
}
@media (max-width: 768px) {
  .promo-block__grid-wrapper {
    grid-template-columns: 1fr;
  }
  .promo-block__content {
    padding-top: 0;
  }
  .promo-block__text {
    font-size: 1.25rem;
  }
  .promo-block__text:not(:last-child) {
    margin-bottom: 13px;
  }
}
@media (max-width: 425px) {
  .promo-block__grid-wrapper {
    grid-template-rows: repeat(2, 300px) 70px;
  }
  .promo-block__link {
    font-size: 1.25rem;
  }
}

/* * search-block */
.search-block {
  margin-top: 32px;
}
.search-block__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-block__search-controls {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
}
.search-block__keywords {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px;
  max-width: 660px;
  width: 100%;
  margin-top: 13px;
}
.search-block__keyword {
  min-width: 70px;
  max-width: 145px;
  width: auto;
  padding: 12px 22px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  transition: background-color 0.3s ease-in;
  color: #000000;
  line-height: 1.063rem;
  font-size: 0.875rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .search-block__keyword:hover {
    background-color: #F8F9FA;
    transition: background-color 0.5s ease-in;
  }
}
.search-block__email-postcard {
  margin-top: 60px;
}

.footer {
  background-color: #F8F9FA;
}
.footer__container {
  padding: 29px 0 0 0;
}
.footer__flex-container {
  display: flex;
  padding: 16px 10px 80px 10px;
}
.footer__logo-wrapper {
  max-width: 310px;
  width: 100%;
}
.footer__logo {
  margin-bottom: 18px;
}
.footer__links-wrapper {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
@media (min-width: 1000px) {
  .footer__links-wrapper_mobile {
    display: none;
  }
}
.footer__links-list > li:not(:last-child) {
  margin-bottom: 14px;
}
.footer__links-title {
  color: #000000;
  line-height: 1.75rem;
  font-size: 1.375rem;
  font-family: "Readex Pro";
  font-weight: 400;
  cursor: default;
}
.footer__link {
  color: #000000;
  line-height: 1.375rem;
  font-size: 1.063rem;
}
@media (max-width: 1024px) {
  .footer__flex-container {
    padding: 16px 15px 80px 15px;
  }
  .footer__links-wrapper {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
@media (max-width: 1000px) {
  .footer__flex-container {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 50px;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__logo-subtext {
    display: none;
  }
  .footer__links-wrapper {
    display: none;
  }
  .footer__links-wrapper_mobile {
    justify-content: center;
    align-items: baseline;
    display: flex;
  }
}
@media (max-width: 375px) {
  .footer__flex-container {
    padding-bottom: 60px;
  }
}

/* * menu */
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
  padding: 0;
}
.menu__list > li:nth-child(3) {
  position: relative;
}
.menu__link_with-arrow::before {
  content: url(../images/icons/arrow.svg);
  width: 10px;
  height: 5px;
  position: absolute;
  top: 0;
  left: calc(100% + 3px);
}
.menu__link, .menu__sub-link {
  color: #000000;
  line-height: 1.063rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.menu__sub-menu {
  position: absolute;
  right: -30px;
  z-index: 2;
  display: none;
  max-width: 200px;
  height: auto;
  padding: 10px 10px;
}
.menu__sub-menu_open {
  display: block;
}
.menu__sub-menu > li {
  text-align: center;
}
.menu__sub-menu > li:nth-child(2) {
  margin: 5px 0;
}
@media (min-width: 1024px) {
  .menu__list > li:nth-child(3):hover .menu__sub-menu {
    display: block;
  }
  .menu__link {
    transition: color 0.3s ease;
    position: relative;
  }
  .menu__link::after, .menu__link_active::after {
    content: "";
    width: 30%;
    height: 3px;
    position: absolute;
    bottom: -50%;
    left: 35%;
    border-radius: 200px;
    background-color: #4B4B4B;
  }
  .menu__link::after {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .menu__link_active {
    pointer-events: none;
  }
  .menu__link_active::after {
    visibility: visible;
    opacity: 1;
  }
  .menu__link:hover {
    color: #4B4B4B;
    transition: color 0.5s ease;
  }
  .menu__link:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(3px);
    transition: all 0.5s ease;
  }
  .menu__sub-link {
    transition: color 0.3s ease;
  }
  .menu__sub-link:hover {
    color: #4B4B4B;
    transition: color 0.5s ease;
  }
}
@media (min-width: 1024px) {
  .menu__sub-menu {
    margin-top: 3px !important;
    background-color: #F8F9FA;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  }
  .menu__sub-menu > li {
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
  }
  .menu__sub-menu > li:hover {
    background-color: #C5C5C5;
    transition: all 0.5s ease-in;
  }
}
@media (max-width: 1000px) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0 10px;
    overflow: auto;
    z-index: 3;
    background-color: #FFFFFF;
    transition: left 0.3s ease-in;
  }
  .menu__body_open {
    left: 0;
    transition: left 0.3s ease-in;
  }
  .menu__list {
    row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__link, .menu__sub-link {
    font-size: 1.25rem;
  }
  .menu__link_with-arrow::before {
    left: 120px;
  }
  .menu__sub-menu {
    position: relative;
    right: 0;
    padding: 20px 0 10px 0;
  }
  .menu__sub-menu > li {
    text-align: left;
  }
  .menu__sub-menu > li:nth-child(2) {
    margin: 20px 0;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 20px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000000;
    border-radius: 100px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 3px;
  }
  .menu__icon::after {
    bottom: 3px;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon_active span {
    transform: scale(0) translate(0px, -50px);
  }
  .menu__icon_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon_active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 375px) {
  .menu__list {
    row-gap: 25px;
  }
  .menu__link, .menu__sub-link {
    font-size: 1.563rem;
  }
  .menu__link_with-arrow::before {
    left: 150px;
  }
}
@media (orientation: landscape) and (max-width: 1024px) {
  .menu__body {
    padding-bottom: 10px;
  }
  .menu__body_open .menu__list::before {
    content: "";
    z-index: 10;
    width: 100%;
    height: 95px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
  }
}

/* * inputs */
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 10px;
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
}
.search-wrapper_animated {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}
.search-wrapper_animated:focus-within {
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  transition: all 0.3s ease;
}
.search-wrapper__icon {
  cursor: pointer;
}
.search-wrapper_large {
  max-width: 650px;
  width: 100%;
  height: 60px;
  padding: 22px 0 22px 17px;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 375px) {
  .search-wrapper_large {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.search-wrapper__input {
  outline: none;
  border: none;
  background: none;
}
.search-wrapper__input::-moz-placeholder {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.search-wrapper__input:-ms-input-placeholder {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.search-wrapper__input::placeholder {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.search-wrapper__input_animated {
  width: 0;
  transition: 0.5s ease-in;
}
.search-wrapper__input_animated:not(:-moz-placeholder-shown) {
  width: 200px;
}
.search-wrapper__input_animated:not(:-ms-input-placeholder) {
  width: 200px;
}
.search-wrapper__input_animated:not(:placeholder-shown) {
  width: 200px;
}
.search-wrapper__input_animated:hover {
  width: 200px;
}
.search-wrapper__input_animated:focus {
  width: 200px;
}
.search-wrapper__input_large {
  width: 90%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 190px;
  height: 50px;
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  transition: all 0.3s ease-in;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  line-height: 1.375rem;
  font-size: 1.125rem;
}
.button_small {
  max-width: 170px;
  padding: 14px 53px;
}
@media (min-width: 1024px) {
  .button:hover {
    background-color: #000000;
    color: #FFFFFF;
    transition: all 0.5s ease-in;
  }
}
@media (max-width: 1000px) {
  .button {
    background-color: #000000;
    color: #FFFFFF;
  }
}

/* * content block */
.content-block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.content-block__title {
  color: #000000;
  line-height: 3.25rem;
  font-size: 2.625rem;
  margin-bottom: 13px;
}
@media (max-width: 1000px) {
  .content-block__title {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
@media (max-width: 320px) {
  .content-block__title {
    font-size: 1.5rem;
  }
}
.content-block__text {
  color: #000000;
  line-height: 1.063rem;
  font-size: 0.875rem;
  max-width: 628px;
  width: 100%;
}
@media (max-width: 425px) {
  .content-block__text {
    font-size: 0.8rem;
  }
}
.content-block__title, .content-block__text {
  font-family: "Readex Pro";
  font-weight: 400;
  text-align: center;
}
.content-block__title:hover, .content-block__text:hover {
  cursor: default;
}

/* * email postcard */
.email-postcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 14px;
  max-width: 935px;
  width: 100%;
  padding: 47px 0;
  background-color: #DCE5E2;
  border-radius: 16px;
}
.email-postcard__controls {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 400px;
  width: 100%;
}
.email-postcard__input-wrapper {
  padding: 16px 0 16px 32px;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
}
.email-postcard__input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
}
.email-postcard__input::-moz-placeholder {
  color: #000000;
}
.email-postcard__input:-ms-input-placeholder {
  color: #000000;
}
.email-postcard__input::placeholder {
  color: #000000;
}
.email-postcard__button {
  width: 100%;
  max-width: 115px;
  padding: 13px 32px;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #000000;
  border-radius: 0px 200px 200px 0px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .email-postcard__button:hover {
    background-color: transparent;
    color: #000000;
    transition: all 0.5s ease-in;
  }
}
.email-postcard__input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.email-postcard__input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.email-postcard__input::placeholder, .email-postcard__button {
  font-size: 0.875rem;
  line-height: 1.063rem;
}
@media (max-width: 1024px) {
  .email-postcard {
    padding: 47px 15px;
  }
}
@media (max-width: 400px) {
  .email-postcard__controls {
    flex-wrap: wrap;
    row-gap: 7px;
  }
  .email-postcard__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    padding-right: 32px;
  }
  .email-postcard__button {
    border-radius: 54px;
  }
}

/* swiper */
.swiper-slide {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  border-radius: 32px;
}
.swiper-slide__flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 100%;
  position: relative;
}
.swiper-slide__flex-container_column {
  flex-direction: column;
}
.swiper-slide_first {
  background-color: #DCE5E2;
}
.swiper-slide_second {
  background-color: #f4ebdb;
}
.swiper-slide_third {
  background-color: #c4dfe6;
}
.swiper-slide_third .swiper-slide__image-wrapper {
  position: absolute;
  bottom: 15%;
  left: auto;
  width: 60%;
}
.swiper-slide_third .swiper-slide__content {
  padding-top: 40px;
}
.swiper-slide__content {
  flex-basis: 590px;
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
}
.swiper-slide__content_align-center {
  align-items: center;
}
.swiper-slide__content_margin-left {
  margin-left: 56px;
}
.swiper-slide__title {
  color: #000000;
  line-height: 4.375rem;
  font-size: 3.625rem;
  font-family: "Readex Pro";
  font-weight: 400;
  margin-bottom: 19px;
}
.swiper-slide__text {
  color: #000000;
  line-height: 1.188rem;
  font-size: 1rem;
  margin-bottom: 30px;
}
.swiper-slide__text_align-center, .swiper-slide__title_align-center {
  text-align: center;
}
@media (max-width: 1024px) {
  .swiper-slide {
    min-height: 100px;
    overflow: hidden;
  }
  .swiper-slide_second .swiper-slide__image {
    scale: 1.15;
  }
  .swiper-slide_third .swiper-slide__image-wrapper {
    bottom: 0;
  }
  .swiper-slide_third .swiper-slide__content {
    flex-basis: 400px;
  }
  .swiper-slide_third .swiper-slide__text {
    padding: 0 20px;
  }
  .swiper-slide__title {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 768px) {
  .swiper-slide__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .swiper-slide__text {
    font-size: 0.813rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .swiper-slide_third .swiper-slide__content {
    max-height: 250px;
    max-width: 300px;
  }
  .swiper-slide__title {
    font-size: 0.938rem;
    line-height: 1.375rem;
  }
  .swiper-slide__text {
    font-size: 0.688rem;
    line-height: 0.8rem;
  }
  .swiper-slide__button {
    display: none;
  }
}
@media (max-width: 425px) {
  .swiper-slide_third .swiper-slide__content {
    max-height: 200px;
  }
  .swiper-slide__title {
    font-size: 0.75rem;
  }
  .swiper-slide__text {
    font-size: 0.5rem;
  }
}
.swiper__button_prev::after, .swiper__button_next::after {
  color: #000000;
  font-size: 26px;
}
.swiper-pagination-bullet {
  background-color: #000000;
  height: 2px;
  width: 10%;
  border-radius: 0;
}
@media (max-width: 768px) {
  .swiper-pagination-bullet {
    display: none;
  }
}
@media (max-width: 375px) {
  .swiper:first-child {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */