/* * fonts and default styles reset */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter/Inter-VariableFont_slnt\,wght.woff2) format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Readex Pro";
  src: url(../fonts/Readex_Pro/ReadexPro-Regular.woff2) format("woff2"), url(../fonts/Readex_Pro/ReadexPro-VariableFont_wght.woff2) format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a[class] {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* * html and body */
html {
  font-size: 16px;
  /* 1rem = 16px */
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
}

/* * page */
.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1275px;
  padding: 0 10px;
  margin: 0 auto;
}

/* * header */
.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__inner-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__controls {
  display: flex;
  align-items: center;
}
.header__controls .cart {
  margin-left: 22px;
}
@media (min-width: 1024px) {
  .header__controls > .search-input_animated:hover {
    -webkit-animation: input-grows 0.8s ease-in;
            animation: input-grows 0.8s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .header__controls > .search-input_animated:focus {
    visibility: visible;
    width: 200px;
    -webkit-animation: none;
            animation: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.menu__list > li:nth-child(3) {
  position: relative;
}
.menu__list > li:nth-child(3)::after {
  content: url(../images/icons/arrow.svg);
  width: 10px;
  height: 5px;
  position: absolute;
  top: 0;
  left: calc(100% + 3px);
}
.menu__list > li:nth-child(3):hover::after,
.menu__list > li:nth-child(3) .open {
  transform: rotate(-180deg);
  top: 80%;
}
.menu__list > li:nth-child(3):hover .menu__sub-menu {
  display: block;
}
.menu__link, .menu__sub-link {
  color: #000000;
  line-height: 1.063rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.menu__sub-menu {
  position: absolute;
  right: -20px;
  z-index: 1;
  display: none;
  max-width: 200px;
  height: auto;
  padding: 20px 10px 10px 10px;
}
.menu__sub-menu > li {
  text-align: center;
}
.menu__sub-menu > li:nth-child(2) {
  margin: 5px 0;
}
@media (min-width: 1024px) {
  .menu__list {
    -moz-column-gap: 33px;
         column-gap: 33px;
  }
  .menu__link {
    transition: color 0.3s ease;
    position: relative;
  }
  .menu__link::after, .menu__link_active::after {
    content: "";
    width: 30%;
    height: 3px;
    position: absolute;
    bottom: -50%;
    left: 35%;
    border-radius: 200px;
    background-color: #4B4B4B;
  }
  .menu__link::after {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .menu__link_active {
    pointer-events: none;
  }
  .menu__link_active::after {
    visibility: visible;
    opacity: 1;
  }
  .menu__link:hover {
    color: #4B4B4B;
    transition: color 0.5s ease;
  }
  .menu__link:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(3px);
    transition: all 0.5s ease;
  }
  .menu__sub-link {
    transition: color 0.3s ease;
  }
  .menu__sub-link:hover {
    color: #4B4B4B;
    transition: color 0.5s ease;
  }
}
@media (max-width: 768px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 20px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000000;
    border-radius: 100px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 3;
  }
  .menu__icon::after {
    bottom: 3;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon_active span {
    transform: scale(0) translate(0px, -50px);
  }
  .menu__icon_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon_active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 10px;
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
}
.search-wrapper__input {
  outline: none;
  border: none;
  background: none;
}
.search-wrapper__input::-moz-placeholder {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.search-wrapper__input:-ms-input-placeholder {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.search-wrapper__input::placeholder {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
.search-wrapper__input:not(:-moz-placeholder-shown) {
  width: 200px;
}
.search-wrapper__input:not(:-ms-input-placeholder) {
  width: 200px;
}
.search-wrapper__input:not(:placeholder-shown) {
  width: 200px;
}
.search-wrapper__input_animated {
  width: 0;
  transition: 0.5s ease-in;
}
.search-wrapper__input_animated:hover {
  width: 200px;
}
.search-wrapper__input_animated:focus {
  width: 200px;
}
.search-wrapper_animated {
  background-color: transparent;
  border: transparent;
  transition: all 0.3s ease;
}
.search-wrapper_animated:hover {
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  transition: all 0.5s ease;
}
.search-wrapper_large {
  height: 60px;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */