// * utilities
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/templates';

// * base
/* * fonts and default styles reset */
@import 'base/fonts';
@import 'base/reset';

// * layout
/* * html and body */
@import 'layout/root';
@import 'layout/page';
@import 'layout/container';
@import 'layout/header';
@import 'layout/main';
@import 'layout/advertisement';
@import 'layout/items-tiles';
@import 'layout/items-cards-block';
@import 'layout/items-—Åategories';


// * modules
@import 'modules/menu';
@import 'modules/inputs';
@import 'modules/buttons';
@import 'modules/content-block';

// * vendors extensions
@import 'vendors-extensions/swiper';

// * animations
@import 'animation/animations'