/* * header */
.header {
    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__inner-flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__controls {
        display: flex;
        align-items: center;

    }

    &__cart-icon {
        margin-left: 22px;
    }

    // ! media query >= 1024px
    @include media(min-width, $laptop) {
        &__controls > .search-input_animated {
            &:hover {
                animation: input-grows 0.8s ease-in;
                animation-fill-mode: forwards;
            }

            &:focus {
                visibility: visible;
                width: 200px;
                animation: none;
            }
        }
    }

    // ! media query <= 1000px
    @include media (max-width, $tablet) {
        &__container {
            padding: 30px 15px;
        }

        &__logo {
            order: 2;
        }

        &__menu {
            order: 1;
        }

        &__controls {
            order: 3;

            & > .search-wrapper {
                display: none;
            }
        }

        &__cart-icon {
            margin: 0;
        }

    }
}