/* * content block */
.content-block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    &__title {
        @include font-style($black-color, $cb-title-line-height, $cb-title-size);
        margin-bottom: 13px;

        // ! media query <= 768px
        @include media (max-width, $tablet) {
            & {
                font-size: 1.7rem;
                line-height: 2rem;
            }
        }

        // ! media query <= 320px
        @include media (max-width, $mobile-s) {
            & {
                font-size: 1.5rem;
            }
        }
    }

    &__text {
        @include font-style($black-color, $cb-text-line-height, $cb-text-size);
        max-width: 628px;
        width: 100%;

        // ! media query <= 425px
        @include media (max-width, $mobile-l) {
            & {
                font-size: 0.8rem;
            }
        }
    }

    &__title,
    &__text {
        font-family: $ff-readex;
        font-weight: 400;
        text-align: center;

        &:hover {
            cursor: default;
        }
    }
}