/* * menu */
.menu {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 33px;

        padding: 0;

        & > li {
            &:nth-child(3) {
                position: relative;
            }
        }

    }



    &__link {

        &_with-arrow::before {
            content: url(../images/icons/arrow.svg);
            width: 10px;
            height: 5px;
            position: absolute;
            top: 0;
            left: calc(100% + 3px);

        }
    }


    &__link,
    &__sub-link {
        @include font-style($black-color, 1.063rem, 0.875rem);
        text-transform: uppercase;
    }

    &__sub-menu {
        position: absolute;
        right: -30px;
        z-index: 2;
        display: none;

        max-width: 200px;
        height: auto;
        padding: 10px 10px;

        &_open {
            display: block;
        }

        & > li {
            &:nth-child(2) {
                margin: 5px 0;
            }

            text-align: center;
        }
    }

    // ! media query >= 1024px
    @include media(min-width, $laptop) {
        &__list {
            & > li {
                &:nth-child(3) {
                    &:hover .menu__sub-menu {
                        display: block
                    }
                }
            }
        }

        &__link {
            transition: color 0.3s ease;
            position: relative;

            &::after,
            &_active::after {
                content: '';
                width: 30%;
                height: 3px;

                position: absolute;
                bottom: -50%;
                left: 35%;
                border-radius: 200px;

                background-color: $dark-grey-color;

            }

            &::after {
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease;
            }

            &_active {
                pointer-events: none;

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &:hover {
                color: $dark-grey-color;
                transition: color 0.5s ease;

                &::after {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(3px);
                    transition: all 0.5s ease;
                }
            }
        }

        &__sub-link {
            transition: color 0.3s ease;

            &:hover {
                color: $dark-grey-color;
                transition: color 0.5s ease;
            }
        }
    }

    // ! media query >= 1000px
    @include media (min-width, $laptop) {
        &__sub-menu {
            margin-top: 3px !important;
            background-color: $dark-white-color;
            border-radius: 15px;
            filter: $shadow;

            & > li {
                padding: 5px 10px;
                border-radius: 5px;
                transition: all 0.3s ease-in;

                &:hover {
                    background-color: $grey-color;
                    transition: all 0.5s ease-in;
                }
            }
        }
    }

    // ! media query <= 1000px
    @include media (max-width, $tablet) {
        &__body {
            position: fixed;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 100px 0 0 10px;
            overflow: auto;
            z-index: 3;

            background-color: $white-color;
            transition: left 0.3s ease-in;

            &_open {
                left: 0;
                transition: left 0.3s ease-in;
            }
        }

        &__list {
            row-gap: 20px;
            flex-direction: column;
            align-items: flex-start;
        }

        &__link,
        &__sub-link {
            font-size: 1.25rem;
        }

        &__link_with-arrow {
            &::before {
                left: 120px;
            }
        }

        &__sub-menu {
            position: relative;
            right: 0;
            padding: 20px 0 10px 0;

            > li {
                &:nth-child(2) {
                    margin: 20px 0;
                }

                text-align: left;
            }
        }

        &__icon {
            & {
                z-index: 5;
                display: block;
                position: relative;
                width: 20px;
                height: 18px;
                cursor: pointer;
            }

            & span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;

                transition: all 0.3s ease 0s;
                background-color: $black-color;
                border-radius: 100px;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 3px;
            }

            &::after {
                bottom: 3px;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &_active span {
                transform: scale(0) translate(0px, -50px);
            }

            &_active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }

            &_active:after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    }

    // ! media query <= 375px
    @include media (max-width, $mobile-m) {

        &__list {
            row-gap: 25px;
        }

        &__link,
        &__sub-link {
            font-size: 1.563rem;
        }

        &__link_with-arrow::before {
            left: 150px;
        }
    }

    @media (orientation: landscape) and (max-width: $laptop) {
        &__body {
            padding-bottom: 10px;

            &_open .menu__list {
                &::before {
                    content: '';
                    z-index: 10;
                    width: 100%;
                    height: 95px;

                    position: fixed;
                    left: 0;
                    top: 0;
                    background-color: $white-color;
                }
            }
        }
    }
}