.modal-cookies-window {
    position: fixed;
    bottom: 0;
    z-index: 6;

    width: 100%;
    padding: 20px 15px;

    &__container {
        position: relative;
        overflow: auto;
    }

    &__flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }


    background-color: $dark-white-color;
    outline: 1px solid $black-color;

    &__title {
        font-size: $item-cards-title-size;
        line-height: $item-cards-title-lh;
        font-family: $ff-readex;
        font-weight: 400;
        margin-bottom: 13px;
    }

    &__controls-wrapper {
        width: 100%;
        flex-flow: column nowrap;
        row-gap: 15px;
        display: none;

        &_open {
            display: flex;
        }
    }

    &__controls > p {
        margin-left: 50px;
        user-select: none;
    }


    // ! media query height <= 500px
    @media (max-height: 500px) {
        &__controls-wrapper {
            flex-direction: row;
            column-gap: 15px;
        }

        &__controls > p {
            margin-left: 35px;
        }

    }


    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;

        // ! media query >= 1000px
        @include media (min-width, $laptop) {
            & {
                justify-content: flex-start;
            }
        }
    }

    &__close-btn {
        position: absolute;
        top: 0;
        right: 2%;

        cursor: pointer;
        font-size: 2rem;
    }

}